body{
  background-color:#112240;
}


h1{
  font-family: 'Montserrat', sans-serif;
  padding: 8px 0 0 0;
  font-size: 4vh;
  color: white;
}


h2{
  font-family: 'Inter', sans-serif;
  font-size: 3vh;
  color: #CCD6F6;
}

.title {
  font-size: 3rem;
  color: #b8c2e3;
  font-style: oblique;
  margin: 0;
}


.head{
  width: 100vw;
  height: 40px;
  border-radius: 5%;
  background-color: #0A192F;
  box-shadow: 5px 5px 10px gray;

}

.lista{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding-top: 8px;
  width: 40vw;
  height: 15px;
}

.presentation {
  display: flex;
  justify-content: space-between;
  height: 45vh;
  width: 100vw;
  padding: 2px 5px 2px 5px;
}

.left {
  display: flex;
  flex: 0;
  padding: 25px 0 20px 150px;
  flex-direction: column;  
  align-items: center;     
  justify-content: start;
}


.right {
  display: flex;
  padding-top: 40px;
  flex: 3;
  flex-direction: column;  
  align-items: center;     
  justify-content: start;
}

.nav-link,
.nav-link:visited,
.nav-link:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:active{
  color: rgb(32, 32, 87);
  text-decoration: none;
  font-weight: bold;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.image img {
  width: 70%;
  height: 70%;
  object-fit: cover;
  border-radius: 50%;
}

.About{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 5vh ;
  text-align: center;
}


.About p{
  font-family: 'Times New Roman', Times, serif;
  color: white;
  text-align: justify;
  font-size: 2.5vh;
  line-height: 1.2;
  margin: 0 5vw 0 0;
}




@media screen and (min-width: 320px) and (max-width: 695px){

h1{
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  font-size: 2vh;
  color: white;
}

h2{
  font-family: 'Inter', sans-serif;
  font-size: 1.5vh;
  color: #CCD6F6;
}

.title {
  font-size: 2rem;
  padding: 10px 0 10px 0;
  color: #b8c2e3;
  font-style: oblique;
  margin: 0;
}

.head{
  width: 100vw;
  height: 10vh;
  background-color: #0A192F;
}

.lista{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 40vw;
  height: 25px;
}

.lista li{
  padding: 0 8px 0 0;
  font-size: 16px;
}

.presentation {
  display: flex;
  justify-content: space-between;
  flex-direction: column;  
  height: 45vh;
  width: 100vw;
  padding: 0 5px 2px 5px;
}

.left {
  display: flex;
  flex: 0;
  padding: 20px 0 20px 5px;
  align-items: center;     
  justify-content: start;
}


.right {
  display: flex;
  padding-top: 5px;
  flex: 1;
  align-items: center;     
  justify-content: start;
}

.nav-link,
.nav-link:visited,
.nav-link:active,
.nav-link:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
}



.image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.image img {
  width: 70%;
  height: 70%;
  object-fit: cover;
  border-radius: 50%;
}

.About{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 4.2vh ;
  text-align: center;
}

.About h1{
  font-family: 'Montserrat', sans-serif;
  padding: 0 30px 0 0;
  font-size: 3vh;
  color: white;
}

.About p{
  font-family: 'Times New Roman', Times, serif;
  color: white;
  text-align: justify;
  font-size: 2vh;
  line-height: 1.2;
  margin: 0 12vw 0 0;
  padding: 0 7px 0 0;
}
}